attrs==17.2.0
dj-database-url==0.5.0
dj-static==0.0.6
Django==2.0.3
django-bootstrap4==0.0.6
django-heroku==0.3.1
docopt==0.6.2
gunicorn==19.8.1
Jinja2==2.10
jinjalint==0.1
MarkupSafe==1.0
parsy==1.1.0
pkg-resources==0.0.0
psycopg2==2.7.4
pytz==2018.3
static3==0.7.0
whitenoise==3.3.1
