{% extends "notes/base.html" %}
{% load bootstrap4 %}

{% block header %}
    <p>Please enter your login and password.</p>
{% endblock header %}

{% block content %}
    <form method="post" action="{% url 'notes_users:login' %}" class="form">
    {% csrf_token %}
    {% bootstrap_form form %}

    {% buttons %}
        <button name="submit" class="btn btn-primary">Log in</button>
    {% endbuttons %}

    <input type="hidden" name="next" value="{% url 'notes:index' %}"/>
    </form>
{% endblock content %}
